body {
    background-image: url(../images/profile.jpg);
    background-size: 27%;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
}

.h2 {
    font-weight: 700;
    color: #EAAD10;
    display: inline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: flex-end;
}

.box {
    background: #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 380px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.color-yellow {
    font-weight: 900;
    color: #DAA520;
    display: inline;
    padding-top: 50px;
}

.color-white {
    font-weight: 700;
    color: #FFFFFF;
    display: inline;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.main-container {
    flex-grow: 1;
    padding: 20px;
    display: none; 
}

.content-section {
    display: none; 
}

.content-section.active {
    display: block; 
}

.footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-top: -40px;
}
