*{font-family: 'Courier New', Courier, monospace;}

body {
    background-image: url(../images/profile.jpg);
    background-size: 26.5vw;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;}

.h2 {
    font-weight: 700;
    color: #EAAD10;
    display: inline;}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: flex-end;}

.box {
    background: #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 380px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
    overflow: hidden;
    position: relative;}

.box .details {
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
    text-align: left;}

.box.expanded {
    width: 50vw;
    height: 150vh;}

.box.expanded .details {
    opacity: 1;
    max-height: 140vh;}

.details > img{
    margin: 0 10px;
    display: flex;
    align-items: center;}

.line-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;}

.line{
    flex-grow: 1;
    height: 1px;
    background-color: #D3D3D3;}

#color-yellow {
    font-weight: 900;
    color: #DAA520;
    display: inline-flex;
    margin-top: 50px;}

#color-white {
    font-weight: 700;
    color: #FFFFFF;
    display: inline-flex;
    margin-top: 50px;}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);}

#about-image, #portfolio-image, #education-image, #skills-image {
    height: 6vh;
    width: 3vw;}

#contact-image{
    height: 5vh;
    width: 2vw;}

#information-image{
    height: 5vh;
    width: 3vw;}

.education-box, .skills-box { 
    border: 1px solid whitesmoke;
    width: 15vw;
    height: 12vh;
    display: inline-block;
    margin-inline: 60px;
    text-align: center;}

h3{font-size: 17.5px;}

.content-section {display: none;}

.content-section.active {display: block;}

.footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-top: -40px;}
